mlruns/
dataset/
*.pt
*.yaml
*.txt
*.jpg
*.png
mlartifacts/
*.log
*.json
*.csv
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
sample_data/
extracted_frames_sample_data_output/
venv
yolo_ku_parking_runs/
YOLOv8_KU_PARKING/
runs/
yolo*